<h1>You have a removed shift!</h1>
<p><strong>{{=event.title}}</strong></p>
<p>from {{=formatAMPM(shift.start)}} to {{=formatAMPM(shift.end)}}, on from {{=getFormattedDate(event.start)}}</p>
<p>in {{=event.loc}}</p>
<p>in {{=event.desc}}</p>
<p>If you need further information, please check Spec or ask your managers.</p>