<h1>There is an unstaffed event starting at {{=app.locals.formatAMPM(event.start)}}!</h1>
<p><strong>{{=event.title}}</strong></p>
<p>in {{=event.loc}}</p>
<p>Staff required to be there from {{=app.locals.formatAMPM(event.start)}} to {{=app.locals.formatAMPM(event.end)}}</p>
<p>Event itself is from {{=app.locals.formatAMPM(event.eventStart)}} to {{=app.locals.formatAMPM(event.eventEnd)}}</p>
<p><b>This is the event description for the event:</b></p><p>{{=event.desc}}</p>
<p><i>If you need further information, please check Spec.</i></p>
<p>Please do not reply to this e-mail.</p>
