!!! 5
html
  head
    title
      | New NED
    link(href='fullcalendar/fullcalendar.css', rel='stylesheet')
    link(href='fullcalendar/fullcalendar.print.css', rel='stylesheet', media='print')
    script(src='lib/jquery.min.js')
          
    script(src='lib/jquery-ui.custom.min.js')
          
    script(src='fullcalendar/fullcalendar2.js')
          
    link(href='http://getbootstrap.com/2.3.2/assets/css/bootstrap.css', rel='stylesheet')
    link(href='ned.css', rel='stylesheet')
    script(src='ned.js')
          
  body
    span#leftGroup
      span.btn-group
        button.btn.dropdown-toggle(type='button', data-toggle='dropdown')
          i.icon-eye-open
          span.caret
        ul.dropdown-menu
          li
            a(href='#')
              i.icon-calendar
              | All Events
          li
            a(href='#hideCancelled')
              i.icon-tasks
              | Hide Cancelled Events
          li
            a(href='#unstaffed')
              i.icon-list-alt
              | Unstaffed Events
          li.divider
          li
            a(href='#onlyMine')
              i.icon-filter
              | Only Mine
    span#rightGroup
      span.btn-group
        button.btn.btn-info(type='button', data-toggle='dropdown')
          i.icon-filter.icon-white
    #newHeader
    #calendar
    script(src='http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js')