!!! 5
html
  head
    title
      | New NED
    link(href='fullcalendar/fullcalendar.css', rel='stylesheet')
    link(href='fullcalendar/fullcalendar.print.css', rel='stylesheet', media='print')
    script(src='lib/jquery.min.js')
          
    script(src='lib/jquery-ui.custom.min.js')
          
    script(src='fullcalendar/fullcalendar2.js')
          
    link(href='http://getbootstrap.com/2.3.2/assets/css/bootstrap.css', rel='stylesheet')
    link(href='ned.css', rel='stylesheet')
    script(src='ned.js')
          
  body
    .leftBar.pull-left
      .btn-group
        button.btn.btn-large.dropdown-toggle(type='button', data-toggle='dropdown')
          i.icon-eye-open
          span.caret
        ul.dropdown-menu
          li
            a(href='#') All Events
          li
            a(href='#hideCancelled') Hide Cancelled Events
          li
            a(href='#unstaffed') Unstaffed Events
          li.divider
          li
            a(href='#onlyMine') Only Mine
    .rightBar.pull-right
      .btn-group
        button.btn.btn-large.btn-primary(type='button', data-toggle='dropdown')
          i.icon-user.icon-white
    #newHeader
    #calendar
    script(src='http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js')
