<!doctype html>
<html>
  <head>
    <!-- Based on http://www.jonathantneal.com/blog/the-html5-invoice/ -->
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{{=app.locals.path }}dist/css/invoice.min.css">
    <link rel="license" href="http://www.opensource.org/licenses/mit-license/">
    <script src="{{=app.locals.path }}src/js/manager/invoice.js"></script>
  </head>
  <body>
    <header>
    <h1>Invoice</h1>
    <address>
      <p>Instructional Media Services</p>
      <p>222 Church Street</p>
      <p>Middletown, CT</p>
      <p>06459</p>
    </address>
    </header>
    <article>
    <h1>Recipient</h1>
    <address contenteditable>
      <p>Wesleyan University</p>
      <p>Middletown, CT</p>
      <p>06459</p>
    </address>
    <table class="meta">
      <tr>
        <th><span>Invoice #</span></th>
        <td><span>101138</span></td>
      </tr>
      <tr>
        <th><span>Date</span></th>
        <td><span contenteditable>January 1, 2012</span></td>
      </tr>
      <tr>
        <th><span>Amount Due</span></th>
        <td><span id="prefix">$</span><span>600.00</span></td>
      </tr>
    </table>
    <table class="inventory">
      <thead>
        <tr>
          <th><span contenteditable>Item</span></th>
          <th><span contenteditable>Description</span></th>
            <th><span contenteditable>Rate</span></th>
            <th><span contenteditable>Hrs / Qty</span></th>
            <th><span contenteditable>Price</span></th>
          </tr>
        </thead>
        <tbody>
          {{ list.forEach(function(entry) { }}
          <tr>
            <td><a class="cut">-</a><span contenteditable>{{=entry.desc }}</span></td>
            <td><span contenteditable>-</span></td>
            <td><span data-prefix>$</span><span contenteditable>{{=entry.rate }}</span></td>
            <td><span contenteditable>{{=entry.amt }}</span></td>
            <td><span data-prefix>$</span><span>600.00</span></td>
          </tr>
          {{ }) }}
        </tbody>
      </table>
      <a class="add">+</a>
      <table class="balance">
        <tr>
          <th><span contenteditable>Total</span></th>
          <td><span data-prefix>$</span><span>600.00</span></td>
        </tr>
        <tr>
          <th><span contenteditable>Amount Paid</span></th>
          <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
        </tr>
        <tr>
          <th><span contenteditable>Balance Due</span></th>
          <td><span data-prefix>$</span><span>600.00</span></td>
        </tr>
      </table>
    </article>
    <aside>
      <div>
        <p>Any questions about your invoice please contact Heric Flores at (860) 685 2147 or send an email to hflores@wesleyan.edu</p>
      </div>
    </aside>
  </body>
</html>

