<!DOCTYPE html>
<html>
  <head>
    <title>Spec: File Upload</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <form method="post" action="/fileUpload">
            <legend>Spec: File Upload<span class="pull-right"><a class="btn btn-info" href="../">Back to Spec</a></span></legend>
            <input type="file" name="myFile" id="myFile"/>
            <p></p>
            <div class="form-actions">
              <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
          </form>
        </div>
        <li>In EMS, under Reports, run the saved Query 'Copy of IMS For Export'. Select a 2 week time-period beginning today.</li>
        <li>Select Export &rarr;  XML.</li>
        <li>Import the XML to Ned using the Upload File button right up there &uarr;</li>
        <div class="alert alert-info">
        Last upload in <b>{{=lastUploadTime}}</b>, by <b>{{=lastUploadUser}}</b>.
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="span12">
          <div class="progress progress-striped active hide">
            <div style="width: 0%" class="bar"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="alert hide">
            <button type="button" data-dismiss="alert" class="close">x</button><span><strong class="message"></strong></span>
          </div>
        </div>
      </div>
    </div>
    <script src="/lib/other/upload.js"></script>
  </body>
</html>