body {
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 15px;
	font-size: 14px;
	height: 100%;
	overflow: hidden;
	}

#calendar {
	margin-top: 0px;
	width: 90%;
	margin: 0 auto;
	}

#newHeader {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;

	}

#newHeader .fc-button {
	margin-left: 2px;
}
.timeline {
    position: absolute;
    left: 59px;
    border: none;
    border-top: 2px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.front {
	z-index: 1051;
}

.popover {
   max-width: 400px !important;
}
.popover-title {
	line-height: 20px;
}

.striped {
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.3) 35px, rgba(255,255,255,.3) 70px);
}

.drop-active {  
  background-color: hsl(360, 5%, 81%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeecec", endColorstr="#d0cccc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeecec), to(#d0cccc));
  background-image: -moz-linear-gradient(top, #eeecec, #d0cccc);
  background-image: -ms-linear-gradient(top, #eeecec, #d0cccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeecec), color-stop(100%, #d0cccc));
  background-image: -webkit-linear-gradient(top, #eeecec, #d0cccc);
  background-image: -o-linear-gradient(top, #eeecec, #d0cccc);
  background-image: linear-gradient(#eeecec, #d0cccc);
  border-color: #d0cccc #d0cccc hsl(360, 5%, 78%);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
  -webkit-font-smoothing: antialiased;
}

.collapse {
	margin-top:7px;
	
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible; }


#inventory .tag-badge {
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: 100;
	font-size: 14px;
	line-height: 20px;
}
#inventory .tag-icon {
	margin-left: 5px;
	margin-right: -3px;
}
#inventory .tag-badge a.tag-link {
	color: #ffffff;
	text-decoration: underline;
}
#inventory .tag-input {
	border: 0 solid;
	margin: 0;
	padding: 0;
	font-weight: 100;
	border: 0 solid;
	background-color: transparent;
	height: 18px;
	margin-top: -5px;
	color: #ffffff;
	outline: none;
}
