body {
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 15px;
	font-size: 14px;
	height: 100%;
	overflow: hidden;
	}

#calendar {
	margin-top: 0px;
	width: 90%;
	margin: 0 auto;
	}

#newHeader {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;

	}

#newHeader .fc-button {
	margin-left: 2px;
}
.timeline {
    position: absolute;
    left: 59px;
    border: none;
    border-top: 2px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.front {
	z-index: 999;
	}