body {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	height: 100%;
	overflow: hidden;
	}

#calendar {
	margin-top: 10px;
	width: 90%;
	margin: 0 auto;
	}

#newHeader {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	}

#newHeader * {
	margin: 1px;
}
#tableHead {

}