<!DOCTYPE html> 
<html> 
	<head> 
	<title>Spec Mobile</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<style type="text/css">
        .staffed {
            border-left:        5px solid #0f0;
        }
        .notStaffed {
            border-left:        5px solid #f00;
        }
        .semiStaffed {
            border-left:        5px solid #faa;
        }
        .cancelled {
            border-left:        5px solid #666;
        }

        .ui-bar-w {
            background-color:   #990000; /* this is the color currently in use on cascade web pages */      /* #930c08; */
            color:          #fff;
            text-shadow:        0 1px 0 #000;
        }

        #slider_container .ui-slider-switch {
            width:          9em;
        }

        #slider_container {
            padding-top:        15px;
        }

        .filler {
            white-space:        nowrap;
        }

        .ui-icon {
            margin-top:     6px;
        }
        .ui-li-desc,h3 {
                overflow: visible !important;        
                white-space: normal !important;        
          } 
          .ui-collapsible-heading {
            font-size: 13px;
            }
    </style>
    
</head> 
<body> 

<div data-role="page" id='event'>

	<div data-role="header" data-theme="w">
        <a data-rel="back" data-icon="back" class="back ui-btn-left">Back</a>
		<h1>Event - Spec M</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <div class="ui-bar ui-bar-a">
            <h3>{{=event.title }}</h3>
        </div>
        <p>
        <table>
            <tr>
                <td><b>From</b></td><td><b>{{=formatAMPM(new Date(Date.parse(event.start))) }}</b></td><td>({{=formatAMPM(new Date(Date.parse(event.eventStart))) }})</td>
            </tr>
            <tr>
                <td><b>To</b></td><td><b>{{=formatAMPM(new Date(Date.parse(event.eventEnd))) }}</b></td><td>({{=formatAMPM(new Date(Date.parse(event.eventEnd))) }})</td>
            </tr>
        </table>
        <b>
            {{ if(event.duration == false) { }}
                Setup and Breakdown
            {{ } else { }}
                Duration of Event
            {{ } }}
        </b>
        <span id="charControl">
            <p><i>{{=fixParantheses(event.loc) }}</i></p>
            <p>{{=fixParantheses(event.desc) }}</p>
        </span>
        <div class="ui-bar ui-bar-a">
            <h3>Staff List ({{=event.shifts.length }}/{{=event.staffNeeded}})</h3>
        </div>
        <ul data-role="listview" data-inset="true" {{ if(permission == 10) { }}data-split-icon="delete"{{ } }}>
            {{ event.shifts.forEach(function(shift) { }}
            <li> <a>{{=shift.staff }}
                <span class="ui-li-count">
                    {{=formatAMPM(new Date(Date.parse(shift.start))) }}-{{=formatAMPM(new Date(Date.parse(shift.end))) }}
                </span></a>
                {{ if(permission == 10) { }}
                 <a class="deleteShift" data-shift="{{=shift['id'] }}">Delete</a>
                {{ } }}
                </li>
            {{ }); }}
        </ul>
        <div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-mini="true">
            <div data-role="collapsible">
                <h3>Add new staff</h3>

                    <label for="text-basic">Staff username:</label>
                    <input type="text" name="text-basic" id="text-basic" value="">
                    <input id="settime" type="time" step="5" />
                    <a href="#" data-role="button" data-inline="true" data-theme="a" data-mini="true">Add this staff</a>

            </div>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Notes ({{=event.notes.length}})</h3>
        </div>
        <ul data-role="listview" data-inset="true">
            {{ event.notes.forEach(function(note) { }}
            <li>
                <p><strong>{{=note.user}}</strong></p>
                <p>{{=note.text}}</p>
            </li>
            {{ }); }}
        </ul>
        <div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-mini="true">
            <div data-role="collapsible">
                <h3>Add new note</h3>
                    <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
                    <a href="#" data-role="button" data-inline="true" data-theme="a" data-mini="true">Send the note</a>
            </div>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Inventory ({{=event.inventory.length}})</h3>
        </div>
        <ul data-role="listview" id="inventoryList" data-inset="true">
        </ul>

	</div><!-- /content -->
	<div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href= "tel:{{ }}"  data-icon=search>Call Tech<span class="filler"/> </a></li>
                <li><a href= "tel:3106132482"  data-icon=alert>Call Manager<span class="filler"/> </a></li>
            </ul>
        </div>
    </div>
<script type="text/javascript">
    
    $.mobile.defaultPageTransition = 'none';
    $.mobile.defaultDialogTransition = 'none';
    $.mobile.useFastClick = true;

        var eventId = "{{=event['_id'] }}";
        $.ajax({
            type: "GET",
            url: "/inventory/existing/" + eventId,
        }).done(function(msg) {
            msg.forEach(function(tool) {
                $('#inventoryList').append('<li>' + tool.text + '</li>');
            });
            $('#inventoryList').listview('refresh');
        }); 



    {{ if(permission == 10) { }}
    function refreshPage() {
        jQuery.mobile.changePage(window.location.href, {
            allowSamePageTransition: true,
            transition: 'none',
            reloadPage: true
        });
    }
    $('.deleteShift').click(function(e) {
        //console.log(this);
        $.ajax({
            type: "POST",
            url: "/staff/remove",
            data: {
                'id': $(this).attr('data-shift'),
                'eventid': eventId
            }
        }).done(function(msg) {
            console.log('shift deleted');
            refreshPage();
        });
    });
    {{ } }}
    </script>
</div><!-- /page -->

</body>
</html>