<!DOCTYPE html> 
<html> 
	<head> 
	<title>Spec Mobile</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<style type="text/css">
        .staffed {
            border-left:        5px solid #0f0;
        }
        .notStaffed {
            border-left:        5px solid #f00;
        }
        .semiStaffed {
            border-left:        5px solid #faa;
        }
        .cancelled {
            border-left:        5px solid #666;
        }

        .ui-bar-w {
            background-color:   #990000; /* this is the color currently in use on cascade web pages */      /* #930c08; */
            color:          #fff;
            text-shadow:        0 1px 0 #000;
        }

        #slider_container .ui-slider-switch {
            width:          9em;
        }

        #slider_container {
            padding-top:        15px;
        }

        .filler {
            white-space:        nowrap;
        }

        .ui-icon {
            margin-top:     6px;
        }
        .ui-li-desc,h3 {
                overflow: visible !important;        
                white-space: normal !important;        
          } 
          .ui-collapsible-heading {
            font-size: 13px;
            }
            .ui-btn-text {
                color: inherit !important;
        }
    </style>
    
</head> 
<body> 

<div data-role="page" id='event'>

	<div data-role="header" data-theme="w">
        <a data-rel="back" data-icon="back" class="back ui-btn-left">Back</a>
		<h1>Event - Spec M</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <div class="ui-bar ui-bar-a">
            <h3 >{{=event.title }}</h3>
        </div>
        <p>
        <table>
            <tr>
                <td><b>From</b></td><td><b>{{=formatAMPM(new Date(Date.parse(event.start))) }}</b></td><td>({{=formatAMPM(new Date(Date.parse(event.eventStart))) }})</td>
            </tr>
            <tr>
                <td><b>To</b></td><td><b>{{=formatAMPM(new Date(Date.parse(event.end))) }}</b></td><td>({{=formatAMPM(new Date(Date.parse(event.eventEnd))) }})</td>
            </tr>
        </table>
        <b>
            {{ if(event.duration == false) { }}
                Setup and Breakdown
            {{ } else { }}
                Duration of Event
            {{ } }}
        </b>
        <span id="charControl">
            <p><i>{{=fixParantheses(event.loc) }}</i></p>
            <p>{{=fixParantheses(event.desc) }}</p>
        </span>
        <div class="ui-bar ui-bar-a">
            <h3>Staff List ({{=event.shifts.length }}/{{=event.staffNeeded}})</h3>
        </div>
        <ul data-role="listview" data-inset="true" {{ if(permission == 10) { }}data-split-icon="delete"{{ } }}>
            {{ event.shifts.forEach(function(shift) { }}
            <li> <a href="staff/{{=shift.staff }}">{{=shift.staff }}
                <span class="ui-li-count">
                    {{=formatAMPM(new Date(Date.parse(shift.start))) }}-{{=formatAMPM(new Date(Date.parse(shift.end))) }}
                </span></a>
                {{ if(permission == 10) { }}
                 <a class="deleteShift" data-shift="{{=shift['id'] }}">Delete</a>
                {{ } }}
                </li>
            {{ }); }}
        </ul>
        {{ if(permission == 10) { }}
            <div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-mini="true">
                <div data-role="collapsible">
                    <h3>Add new staff</h3>

                        <label for="staff-username">Staff username:</label>
                        <input type="text" name="staff-username" id="staff-username" value="">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <legend>Start:</legend>
                            <select name="start1" id="start1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select name="start2" id="start2">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                            <select name="start3" id="start3">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </fieldset>
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <legend>End:</legend>
                            <select name="end1" id="end1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select name="end2" id="end2">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                            <select name="end3" id="end3">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </fieldset>
                        <a class="addShift" data-role="button" data-inline="true" data-theme="a" data-mini="true">Add this staff</a>

                </div>
            </div>
        {{ } }}    
        <div class="ui-bar ui-bar-a">
            <h3>Notes ({{=event.notes.length}})</h3>
        </div>
        <ul data-role="listview" data-inset="true">
            {{ event.notes.forEach(function(note) { }}
            <li>
                <p><strong>{{=note.user}}</strong></p>
                <p>{{=note.text}}</p>
            </li>
            {{ }); }}
        </ul>
        <div data-role="collapsible-set" data-theme="c" data-content-theme="d" data-mini="true">
            <div data-role="collapsible">
                <h3>Add new note</h3>
                    <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
                    <a href="#" data-role="button" data-inline="true" data-theme="a" data-mini="true" id="sendNote">Send the note</a>
            </div>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Inventory ({{=event.inventory.length}})</h3>
        </div>
        <ul data-role="listview" id="inventoryList" data-inset="true">
        </ul>

	</div><!-- /content -->
	<div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href= "tel:{{ }}"  data-icon=search>Call Tech<span class="filler"/> </a></li>
                <li><a href= "tel:3106132482"  data-icon=alert>Call Manager<span class="filler"/> </a></li>
            </ul>
        </div>
    </div>
<script type="text/javascript">
    
    $.mobile.defaultPageTransition = 'none';
    $.mobile.defaultDialogTransition = 'none';
    $.mobile.useFastClick = true;

        var eventId = "{{=event['_id'] }}";
        var start = '{{=formatAMPM(new Date(Date.parse(event.start))) }}';
        var end = '{{=formatAMPM(new Date(Date.parse(event.end))) }}';
        $.ajax({
            type: "GET",
            url: "/inventory/existing/" + eventId,
        }).done(function(msg) {
            msg.forEach(function(tool) {
                $('#inventoryList').append('<li>' + tool.text + '</li>');
            });
            $('#inventoryList').listview('refresh');

                    {{ if(permission == 10) { }}
                        $('#start1 option').filter(function() { 
                            return ($(this).text() == start.split(":")[0]);
                        }).attr('selected', true);
                        $( "#start1" ).selectmenu( "refresh" );
                        $('#start2 option').filter(function() { 
                            return ($(this).text() == start.split(":")[1].split(" ")[0]);
                        }).attr('selected', true);
                        $( "#start2" ).selectmenu( "refresh" );
                        $('#start3 option').filter(function() { 
                            return ($(this).text() == start.split(" ")[1]);
                        }).attr('selected', true);
                        $( "#start3" ).selectmenu( "refresh" );
                        $('#end1 option').filter(function() { 
                            return ($(this).text() == end.split(":")[0]);
                        }).attr('selected', true);
                        $( "#end1" ).selectmenu( "refresh" );
                        $('#end2 option').filter(function() { 
                            return ($(this).text() == end.split(":")[1].split(" ")[0]);
                        }).attr('selected', true);
                        $( "#end2" ).selectmenu( "refresh" );
                        $('#end3 option').filter(function() { 
                            return ($(this).text() == end.split(" ")[1]);
                        }).attr('selected', true);
                        $( "#end3" ).selectmenu( "refresh" );
                    {{ } }}
        }); 


    {{ if(permission == 10) { }}
        function refreshPage() {
            jQuery.mobile.changePage(window.location.href, {
                allowSamePageTransition: true,
                transition: 'none',
                reloadPage: true
            });
        }
        $('.addShift').click(function(e) {
            //console.log(this);
            $.ajax({
                type: "POST",
                url: "/staff/add",
                data: {
                    'staff': $('#staff-username').val(),
                    'start': $('#start1').val() + ':' + $('#start2').val() + ' ' + $('#start3').val(),
                    'end': $('#end1').val() + ':' + $('#end2').val() + ' ' + $('#end3').val(),
                    'eventid': "{{=event['_id'] }}",
                    'eventStart': "{{=event['start'] }}",
                    'eventEnd': "{{=event['end'] }}"
                }
            }).done(function(msg) {
                console.log('shift added');
                refreshPage();
            });
        });
        $('.deleteShift').click(function(e) {
            //console.log(this);
            $.ajax({
                type: "POST",
                url: "/staff/remove",
                data: {
                    'id': $(this).attr('data-shift'),
                    'eventid': eventId
                }
            }).done(function(msg) {
                console.log('shift deleted');
                refreshPage();
            });
        });
    {{ } }}
        $('#sendNote').click(function(e) {
            $.ajax({
                type: "POST",
                url: "/notes/add",
                data: {
                    'note': $('#textarea').val(),
                    eventid: "{{=event['_id'] }}",
                }
            }).done(function(res) {
                console.log('note added');
                refreshPage();
            });
        });
    </script>
</div><!-- /page -->

</body>
</html>